---
title: "Motivational example: festivals"
layout: lecture
lead: "A discrete decision problem for motivation, and to discuss basic concepts and principles"
id: festivals
prerequisite: 
---

<div id="festivalss">
<h2>Problem description</h2>


<p>
  Who doesn't like music, and want to listen to their favorite bands live in summer festivals?
  In this example, this is what we want to do exactly, while saving as much money as possible.
  First things first, fill the fields with the name of your favorite bands, performers, or just leave there my selection.
</p>

<form>
  <div class="form-row">
    <div class="col-md"><input class="form-control" v-model="cb[0]" :placeholder="mb[0]" ></div>
    <div class="col-md"><input class="form-control" v-model="cb[1]" :placeholder="mb[1]" ></div>
    <div class="col-md"><input class="form-control" v-model="cb[2]" :placeholder="mb[2]" ></div>
    <div class="col-md"><input class="form-control" v-model="cb[3]" :placeholder="mb[3]" ></div>
    <div class="col-md"><input class="form-control" v-model="cb[4]" :placeholder="mb[4]" ></div>
    <div class="col-md"><input class="form-control" v-model="cb[5]" :placeholder="mb[5]" ></div>
    <div class="col-md"><input class="form-control" v-model="cb[6]" :placeholder="mb[6]" ></div>
  </div>
</form>

<p>
  Now, let us assume, that there are five festivals, we have the chance to go to during the summer.
  For the sake of simplicity, these festivals will be called <var>F1</var>, <var>F2</var>, etc.
  Below is a table, that details, which band will perform at which festival.
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"><var>F1</var></th>
      <th scope="col"><var>F2</var></th>
      <th scope="col"><var>F3</var></th>
      <th scope="col"><var>F4</var></th>
      <th scope="col"><var>F5</var></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><var>${b1}</var></th>
      <td>🗸</td><td> </td><td>🗸</td><td>🗸</td><td> </td>
    </tr>
    <tr>
      <th scope="row"><var>${b2}</var></th>
      <td>🗸</td><td>🗸</td><td>🗸</td><td> </td><td>🗸</td>
    </tr>
    <tr>
      <th scope="row"><var>${b3}</var></th>
      <td>🗸</td><td>🗸</td><td> </td><td>🗸</td><td>🗸</td>
    </tr>
    <tr>
      <th scope="row"><var>${b4}</var></th>
      <td> </td><td> </td><td>🗸</td><td> </td><td>🗸</td>
    </tr>
    <tr>
      <th scope="row"><var>${b5}</var></th>
      <td> </td><td> </td><td> </td><td>🗸</td><td> </td>
    </tr>
    <tr>
      <th scope="row"><var>${b6}</var></th>
      <td> </td><td>🗸</td><td>🗸</td><td>🗸</td><td>🗸</td>
    </tr>
    <tr>
      <th scope="row"><var>${b7}</var></th>
      <td> </td><td> </td><td>🗸</td><td> </td><td>🗸</td>
    </tr>
  </tbody>
</table>

<p>
  Let us suppose for now, that the ticket for each festival costs the same, and we want to minimize the money we spend during the summer while hearing every favorite band of us at least once.  
</p>

<h2>Solving the problem by hand</h2>

<p>
  The problem with this size is easy to solve in a few minutes without any software tool, just by a trial and error approach.
  Try it yourself before clicking the button below.
  <a class = "btn btn-block btn-outline-primary" data-toggle="collapse" href="#solutionCollapse" role="button">Show solution</a>
</p>


<div class="collapse" id="solutionCollapse">
  <div class="card card-body">
    <p>
      It seems that going to festivals <var>F3</var> and <var>F4</var> only is the best solution.
      But how can we be sure, that this is really the <em>optimal</em> solution?
      A reasonable argument would be to say, that our solution has 2 festivals selected.
      If this is not the best solution, then the best should have at most 1 festival selected.
      With just checking the 5 festivals, it is easy to see, that none of them covers all of our favorite bands.
    </p>

    <div class="alert alert-info">
      Note, that this logic would be much more complex to execute, if we were to have a larger problem, let's say 30 bands and 50 festivals. If our assumably optimal solution would have 9 festivals selected, all of the 8 element subsets of the 50 festivals should be checked, that is a pretty big number: \( {50 \choose 8} = 536878650 \).
    </div>

    <p>
      Now that we are assured, that <var>F3,F4</var> is optimal, another question may arise: is this the only optimal solution?
    </p>

    <p>
      It is pretty easy to see, that <var>F4,F5</var> is also a <em>feasible</em> solution with 2 festivals, thus, let us note that 
    </p>

    <div class="alert alert-primary">
      A problem may have one or more optimal solutions at the same time.
    </div>    
  </div>
</div>


<h2>What about a larger festival problem?</h2>

<p>
  A problem with this size can be handled effortlessly by hand, however, as the number of bands and festivals increases, it is less and less so.
  Imagine a problem with 30 bands and 50 festivals.
  If the "performing-matrix" is not trivial, solving the problem will definitely require some kind of computer assistance.
</p>

<p>
  Even if you have no background in optimization, but have basic programming skills, you should be able to write a computer program solving this problem in your favorite language.
  Try to come up with the algorithm yourself, then proceed by clicking on the button.
  <a class = "btn btn-block btn-outline-primary" data-toggle="collapse" href="#bruteforceCollapse" role="button">Show algorithm</a>
</p>


<div class="collapse" id="bruteforceCollapse">
  <div class="card card-body">
    <p>
      The first thing is to observe, that the flexibility we have is to make a yes-or-no type of decision about all of the festivals.
      This basically gives us \(2^{50}\) different <em>solutions</em>.
    </p>
    <p>
      Some of these solutions are satisfying the constraints of the problem, i.e., that all of the bands are visited, others don't.
      Solutions of the former group are often called as <em>good</em> or <em>feasible</em> solutions, while the others as <em>bad</em> or <em>infeasible</em>.
    </p>
    <p>
      In the case of the matrix above, selecting <var>F1,F3,F4</var> is a feasible solution, while <var>F1,F3</var> is infeasible, as we will miss <var>${b5}</var>. Below is the complete list of the 32 subsets, and whether they are feasible or not.
    </p>
    
    <table>
      <tr>
        <td class="table-danger"><var>none</var></td>
        <td class="table-danger"><var>F1</var></td>
        <td class="table-danger"><var>F2</var></td>
        <td class="table-danger"><var>F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-danger"><var>F3</var></td>
        <td class="table-danger"><var>F3,F1</var></td>
        <td class="table-danger"><var>F3,F2</var></td>
        <td class="table-danger"><var>F3,F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-danger"><var>F4</var></td>
        <td class="table-danger"><var>F4,F1</var></td>
        <td class="table-danger"><var>F4,F2</var></td>
        <td class="table-danger"><var>F4,F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-success"><var>F4,F3</var></td>
        <td class="table-success"><var>F4,F3,F1</var></td>
        <td class="table-success"><var>F4,F3,F2</var></td>
        <td class="table-success"><var>F4,F3,F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-danger"><var>F5</var></td>
        <td class="table-danger"><var>F5,F1</var></td>
        <td class="table-danger"><var>F5,F2</var></td>
        <td class="table-danger"><var>F5,F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-success"><var>F5,F3</var></td>
        <td class="table-success"><var>F5,F3,F1</var></td>
        <td class="table-success"><var>F5,F3,F2</var></td>
        <td class="table-success"><var>F5,F3,F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-success"><var>F5,F4</var></td>
        <td class="table-success"><var>F5,F4,F1</var></td>
        <td class="table-success"><var>F5,F4,F2</var></td>
        <td class="table-success"><var>F5,F4,F2,F1</var></td>
      </tr>
      <tr>
        <td class="table-success"><var>F5,F4,F3</var></td>
        <td class="table-success"><var>F5,F4,F3,F1</var></td>
        <td class="table-success"><var>F5,F4,F3,F2</var></td>
        <td class="table-success"><var>F5,F4,F3,F2,F1</var></td>
      </tr>
    </table>

    <p>
      If we already have the set of <em>finite</em> solutions, we just have to select the smallest from the feasible ones, e.g.,:
    </p>
    <pre>
      S = generate_solutions();
      min = \(\infty\)
      for(s in S) {
        if (feasible(s)){
          if (value(s)&lt;min) {
            best = s;
          }
        }
      }
    </pre>

    <p>or if you prefer functional programming style:</p>

    <pre>(min (filter (generate_solutions) feasible))</pre>
  </div>
</div>








  
</div>
<script src="https://unpkg.com/vue"></script>
<script>
  const app = new Vue({
    el: '#festivalss',
    delimiters: ['${', '}'],
    data: {
       cb: ['','','','','','',''],
       mb: ['Haggard', 'Stratovarius', 'Epica', 'Dalriada', 'Apocalyptica', 'Liva','Eluveitie'],
    },    
    computed: {
      b1(){if(this.cb[0]=="") return this.mb[0]; else return this.cb[0];},
      b2(){if(this.cb[1]=="") return this.mb[1]; else return this.cb[1];},
      b3(){if(this.cb[2]=="") return this.mb[2]; else return this.cb[2];},
      b4(){if(this.cb[3]=="") return this.mb[3]; else return this.cb[3];},
      b5(){if(this.cb[4]=="") return this.mb[4]; else return this.cb[4];},
      b6(){if(this.cb[5]=="") return this.mb[5]; else return this.cb[5];},
      b7(){if(this.cb[6]=="") return this.mb[6]; else return this.cb[6];}
    }
  })
</script>
