---
title: "GMPL/glpk basics"
layout: lecture
lead: "An overview of tools and languages for (MI)LP problems, and a bit of introduction to GLPK and GMPL"
id: gmpl_basics
prerequisite: ["modelling_lp_first_steps"]
---

<h2 id="languages-and-solvers">(MI)LP description languages and solvers</h2>

<p>
  Since MILP and LP models are widely used in practice, the algorithms solving them are well implemented already.
  Thus, there is no need to implement the simplex algorithm ourselves.
  Thruthfully, it is better if one doesn't do that unless it is for getting a bit of coding practice.
  State-of-the-art solvers are rather complex, and there are small but significant details (like floating point rounding), that have to be addressed to produce a stable solver, and even if that is done, the result will be nowhere close to the efficiency of the solvers mentioned below.
  The solvers in the list use a lot of theoretical accelerations (e.g. <a href="https://en.wikipedia.org/wiki/LU_decomposition" target="_blank">LU decomposition</a>), implementational "tricks" (e.g. <a href="https://en.wikipedia.org/wiki/Sparse_matrix" target="_blank">Sparse representation</a>), and a lots of heuristic accelerations.
</p>

<p>
  There are several choices for solving MILP/LP problems.
  Some are listed below, with some information about them.
</p>

<table class="table table-hover" id="solvers">
  <thead>
    <tr>
      <th scope="col">Solver</th>
      <th scope="col">License</th>
      <th scope="col">Problem classes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="http://lpsolve.sourceforge.net/5.5/Intro.htm" target="_blank">lp_solve</a></td>
      <td><a href="https://opensource.org/licenses/lgpl-license" target="_blank">LGPL</a></td>
      <td>MILP</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://www.gnu.org/software/glpk/" target="_blank">GLPK</a></td>
      <td><a href="https://opensource.org/licenses/gpl-license" target="_blank">GPL</a></td>
      <td>MILP</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://projects.coin-or.org/Clp" target="_blank">COIN-OR CLP</a></td>
      <td><a href="https://opensource.org/licenses/EPL-1.0" target="_blank">EPL</a></td>
      <td>LP</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://projects.coin-or.org/Cbc" target="_blank">COIN-OR CBC</a></td>
      <td><a href="https://opensource.org/licenses/EPL-1.0" target="_blank">EPL</a></td>
      <td>MILP</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://gurobi.com" target="_blank">Gurobi</a></td>
      <td>Proprietary - Gurobi Optimization</td>
      <td>MIQP <span class="badge badge-info" data-toggle="popover" title="Mixed-Integer Quadratically Constrained Programming" data-content="The constraints and the objective function may have quadratic terms.">i</span></li></td>
    </tr>
    <tr>
      <td scope="row"><a href="https://www.ibm.com/analytics/cplex-optimizer" target="_blank">CPLEX</a></td>
      <td>Proprietary - IBM</td>
      <td>MIQP <span class="badge badge-info" data-toggle="popover" title="Mixed-Integer Quadratically Constrained Programming" data-content="The constraints and the objective function may have quadratic terms.">i</span></li></td>
    </tr>
    <tr>
      <td scope="row"><a href="https://www.lindo.com/index.php/products/lingo-and-optimization-modeling" target="_blank">LINGO</a></td>
      <td>Proprietary - Lindo systems inc.</td>
      <td>MILP, MINLP</td>
    </tr>
  </tbody>
</table>




<p>
  As this selective list shows, there are a lot of options to chose from, and <a href="https://en.wikipedia.org/wiki/List_of_optimization_software" target="_blank">there is even more</a>.  
</p>

<p>
  Regarding performance, the proprietary tools outperform the open source alternatives by far.
  Among the open source solutions, the COIN OR project can be considered the fastest one.
  Ultimately, the situation dictates, which one you should apply.
  For example, I use (or would use)
  <ul>
    <li>the standalone solver of GLPK for teaching purposes, as it is really simple to install/use, and it is freely available.</li>
    <li>the API of COIN OR in scientific software, that need to solve MILP problems as subproblems.</li>
    <li>Gurobi/CPLEX and COIN OR CBC for comparison purposes in scientific papers.</li>
    <li>Gurobi/CPLEX in an industrial environment where efficiency is key.</li>
  </ul>
  These are of course only my recommendations, and each situation is different.
  Note, that there are academic licenses for the proprietary tools as well.
</p>

<p>
  If the solver is selected, you can either use its API from your code, or use the standalone solver with a model file.
  Different tools support API for different languages, but let us focus on the second option for now.
  There is a wide variety of languages for describing MILP models, and the tools usually support several of them.
  The table below shows some examples.
</p>


<table class="table table-hover" id="languages">
  <thead>
    <tr>
      <th scope="col">Format name</th>
      <th scope="col">Usual extension</th>
      <th scope="col">Description, notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="https://en.wikipedia.org/wiki/AMPL" target="_blank">AMPL</a></td>
      <td><code>.mod .dat .run</code></td>
      <td>A Mathematical Programming Language. Very general and multipurpose language, widely used.</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://en.wikibooks.org/wiki/GLPK/GMPL_(MathProg)" target="_blank">GMPL</a></td>
      <td><code>.mod .dat</code></td>
      <td>GNU Mathematical Programming Language. Subset of AMPL, default for GLPK.</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://en.wikibooks.org/wiki/GLPK/GMPL_(MathProg)" target="_blank">MPS</a></td>
      <td><code>.mod .dat</code></td>
      <td>Mathematical Programming System. Old format, most solvers can use it as a legacy option.</td>
    </tr>
    <tr>
      <td scope="row"><a href="https://en.wikipedia.org/wiki/General_Algebraic_Modeling_System" target="_blank">GAMS</a></td>
      <td><code>TODO</code></td>
      <td>General Algebraic Modeling System. A file format, an interpreter, an IDE and an API for solvers.</td>
    </tr>    
    <tr>
      <td scope="row"><a href="http://lpsolve.sourceforge.net/5.0/CPLEX-format.htm" target="_blank">CPLEX</a></td>
      <td><code>.lp</code></td>
      <td>Default format for CPLEX, widely accepted by other solvers.</td>
    </tr>  
    <tr>
      <td scope="row"><a href="https://www.lindo.com/index.php/help/user-manuals" target="_blank">Lingo</a></td>
      <td><code>.lng</code></td>
      <td>The format used by only LINGO.</td>
    </tr>
  </tbody>
</table>



<p>
  Below You can see the same example in a few different formats for comapirson.
</p>

<ul class="nav nav-tabs" id="language-example" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#mathematic" role="tab" aria-controls="mathematic" aria-selected="true">Mathematical Model</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="mps-tab" data-toggle="tab" href="#mps" role="tab" aria-controls="mps" aria-selected="false">MPS (fixed)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="mps2-tab" data-toggle="tab" href="#mps2" role="tab" aria-controls="mps2" aria-selected="false">MPS (free)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="clp-tab" data-toggle="tab" href="#clp" role="tab" aria-controls="clp" aria-selected="false">CPLEX</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="gmpl-tab" data-toggle="tab" href="#gmpl" role="tab" aria-controls="gmpl" aria-selected="false">GMPL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="lingo-tab" data-toggle="tab" href="#lingo" role="tab" aria-controls="gmpl" aria-selected="false">Lingo</a>
  </li>
</ul>
<div class="tab-content b-2" id="myTabContent">
  <div class="tab-pane fade show active border border-2 border-dark p-2" id="mathematic" role="tabpanel" aria-labelledby="mathematic-tab">
      \[x,y \in [0,\infty[ \]
      <br>
      \[x+2\cdot y\le 15\]
      \[3\cdot x+y\le 20\]
      <hr />
      \[x+y \to max\]
  </div>
  <div class="tab-pane fade" id="mps" role="tabpanel" aria-labelledby="mps-tab">
    <pre class="border border-2 border-dark p-2"><code>{% include sources/helloworld/helloworld_fix.mps %}</code></pre>
  </div>
  <div class="tab-pane fade" id="mps2" role="tabpanel" aria-labelledby="mps2-tab">
    <pre class="border border-2 border-dark p-2"><code>{% include sources/helloworld/helloworld_free.mps %}</code></pre>
  </div>
  <div class="tab-pane fade" id="clp" role="tabpanel" aria-labelledby="clp-tab">
    <pre class="border border-2 border-dark p-2"><code>{% include sources/helloworld/helloworld.lp %}</code></pre>
  </div>
  <div class="tab-pane fade" id="gmpl" role="tabpanel" aria-labelledby="gmpl-tab">
    <pre class="border border-2 border-dark p-2"><code>{% include sources/helloworld/helloworld.m %}</code></pre>
  </div>
  <div class="tab-pane fade" id="lingo" role="tabpanel" aria-labelledby="lingo-tab">
    <pre class="border border-2 border-dark p-2"><code>{% include sources/helloworld/helloworld.lng %}</code></pre>
  </div>
</div>

<div class="alert alert-primary">
  On this site, we will use the <b>GMPL</b> file format, and the <b>glpsol</b> solver to solve our problems.
  Please note, that if you need Your model in a different format, You can also use glpsol to convert it with the <code>--wmps</code>, <code>--wfreemps</code>, <code>--wlp</code> options.
</div>

<h2 id="gmpl-basics">GMPL basics</h2>

<p>
  As it was discussed <a href="{{site.baseurl}}/pages/lp_first_steps.html">previously</a>, the model can be partitioned into three parts: variable declarations, constraints, and the objective function.
  We will follow this order to introduce the basic syntactic elements of GMPL.
  You can find a detailed <a href="https://www.gnu.org/software/glpk/#documentation" target="_blank">reference of the GMPL format</a> if You download the package from the website of GLPK.
</p>

<h3 id="gmpl-variables">Variables</h3>

<p>
  Variables can be defined with the <code>var</code> keyword, that should be followed by the name of the variable, restrictions on the domain, and finally a semicolon.
  Some examples:
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:50%" scope="col">Mathematical notation</th>
      <th style="width:50%" scope="col">GMPL code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>\(x\in[0,\infty[\)</td>
      <td><code>var x>=0;</code></td>
    </tr>    
    <tr>
      <td>\(x\in[0,8]\)</td>
      <td><code>var x>=0,<=8;</code></td>
    </tr>  
    <tr>
      <td>\(y\in\{0,1\}\)</td>
      <td><code>var y binary;</code></td>
    </tr>
    <tr>
      <td>\(y\in\mathbb{Z}\)</td>
      <td><code>var y integer;</code></td>
    </tr>
    <tr>
      <td>\(y\in\mathbb{N}\)</td>
      <td><code>var y integer >=0;</code></td>
    </tr>
  </tbody>
</table>

<h3 id="gmpl-constraints">Constraints</h3>

<p>
  Constraints are written in the form of <code>s.t. CNAME: LHS OP RHS;</code> where <code>CNAME</code> is an expressive name for the constraint, <code>LHS,RHS</code> are the left- and right-hand side of the inequality/equasion respectively, separated by a comparison operator, that could be either <code><=</code>,<code>>=</code> or <code>=</code>.
  The name of the constraint does not hold any importance to the solver, it is just an identifier, that also helps to make the code more human-readable and maintainable.
  Also, mind the colon for separating the name and the constraint, and a semicolon closing the statement. Some examples:
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:50%" scope="col">Mathematical notation</th>
      <th style="width:50%" scope="col">GMPL code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>\(x_1+x_2\le 10\)</td>
      <td><code>s.t. SumBound: x1+x2 <= 10; </code></td>
    </tr> 
    <tr>
      <td>\(y_1+y_2+y_3+y_5\ge 1\)</td>
      <td><code>s.t. Stratovarius: y1+y2+y3+y5 >= 1; </code></td>
    </tr> 
    <tr>
      <td>\(1 \cdot x_{KF} + 2\cdot x_{NF} +1\cdot x_{HL} = 1000\)</td>
      <td><code>s.t. UseUpAllTheWine: 1*xKF+2*xNF+1*xHL = 1000; </code></td>
    </tr>  
  </tbody>
</table>

<h3 id="gmpl-objective">Objective function</h3>

<p>
  The syntax for the objective function is very similar to that of the constraint: <code>[minimize|maximize] ONAME: EXPRESSION;</code>, where <code>ONAME</code> is a name assigned to the objective function, and the <code>EXPRESSION</code> is the linear expression for it.
  Again, mind the colons, semi-colons.
</p>

<div class="alert alert-info">
  <b>Tip:</b> If You have a model with perfect syntax, make it incorrect in any possible way You can think of, and have a look at the compiler error messages. Sometimes they are not giving much clue, but this way You can build a connection between the seemingly unrelated error message and the type of the problem.  
</div>

<p>Two examples:</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:50%" scope="col">Mathematical notation</th>
      <th style="width:50%" scope="col">GMPL code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>\( y_1+y_2+y_3+y_4+y_5 \to min\)</td>
      <td><code>minimize VisitedFestivals: y1+y2+y3+y4+y5; </code></td>
    </tr> 
    <tr>
      <td>\( 110 \cdot x_{KF} + 200 \cdot x_{NF}  + 120 \cdot x_{HL}   \to max\)</td>
      <td><code>maximize TotalIncome: 110*xKF+200*xNF+120*xHL; </code></td>
    </tr> 
  </tbody>
</table>

<p>
  We are ready to solve our motivational examples, but let's see how we can make the solver find the optimal solution for the models we implement in GMPL.
</p>

<h2 id="glpsol">Using GLPK</h2>

<p>The examples here will assume, that You run <code>glpsol</code> from the command line.</p>

<div class="alert alert-info">
  If You use GUSEK on Windows, two important things:
  <ul>
    <li>Always save Your model with the <code>.mod</code> extension, otherwise the editor will not consider it as a GMPL file.</li>
    <li>Before clicking on Go, or pressing <kbd>F5</kbd>, make sure to check the "Generate output file on go" option in the Tools menu.</li>    
  </ul>
</div>

<p>
  The basic command to solve a file is <code>glspsol -m model.m -o output.txt</code>.
  This will read the model from <code>model.m</code>, write the results to <code>output.txt</code>, and display some info on the standard output whilst doing it. 
</p>

<p>
  If You run the above command on the simple example used above for demonstrating the different file formats, You will get this in the terminal:
</p>

<pre class="border border-2 border-dark p-2"><code>{% include sources/helloworld/output.log %}</code></pre>

<p>
  There are a bunch of things here, familiar ringing words, like "Preprocessing", but for now, we will only focus on the line with all capitals: <code>OPTIMAL LP SOLUTION FOUND</code>. This line indicates, that the problem has been solved to optimality.
  For MILP models, the message would be a little different: <code>INTEGER OPTIMAL SOLUTION FOUND</code>.
  If we see other messages indicating that no feasible solution were found, or the solution is unbounded, than we have probably over- or underconstrained the problem, respectively.
  More about that later, let's see, what is in the generated <code>output.txt</code> file.
</p>

<pre  class="border border-2 border-dark p-2"><code>{% include sources/helloworld/output.txt %}</code></pre>

<p>
  Again, there is plenty of information here as well, but we will only need specific lines for now.
  First, the fifth line with <code>Status: OPTIMAL</code> indicates again, that everything went well, and we have found an optimal solution.
  The line below that tells us, what that optimal solution is.
  Here, the word "Objective" appears twice, which seems buggy.
  But this is just a coincidence, as the first appearance is burned in the solver, and the second is the name that we gave to our objective function, which happened to be "Objective" as well for this simple problem.
</p>

<p>
  It is good to know the quality of the optimal solution (10 in this case), but in general, we also want to know, <emph>how</emph> we can achieve that solution, i.e., what decisions should we make to get there.
  Each decision outcome is linked to a variable value, so we basically want to know the values of the variables in the given optimal solution.
  These values are provided in the <code>Activity</code> column of the second table.
  In this case, we can see, that the optimal solution is achieved by setting both <var>x</var> and <var>y</var> to 5.
</p>

<hr />

<div class="alert alert-dark" id="final-notes">
  
<h1 class="alert-heading">Final notes</h1>

The takeaway of this section is, that there are a lot of formats for implementing (MI)LP models, and plenty of solvers that can read and solve them.
Gurobi and CPLEX are the non-free state-of-the art solvers, and the COIN-OR project provides the best open-source alternative.
For studying purposes, we use GLPK and the GMPL language, which uses a simple syntax to represent variables, constraints and objective functions.
As the complexity of the model description grows, we will learn more and more elements of the language to comfortably formalize our models.

</div>
