---
title: "Advanced modelling techniques: \"Redundant\" variables"
layout: lecture
lead: "Introducing \"redundant\" variables to make models more transparent"
id: modelling_redundant_variables
prerequisite: ["modelling_lp_first_steps","gmpl_advanced_1"]
---

<h2 id="example">Motivational example</h2>

<p>
  For a couple of months I was working in Oujda, Morocco.
  I have decided to visit my friend, Jacques in Capetown. 
  As I haven't been to Africa many times before, I decided to travel by car, so that I can see more of that beautiful continent. 
  A friend, Alae-Eddine was kind enough to lend me his car for this trip, so the only thing I'll had to pay for is the petrol for the journey. 
  Naturally, I wanted to reduce the cost of the trip as much as possible, thus I planned in advance where and how much to refuel the car.
</p>

<p>
  The trip was 11000 km long, and there were 22 petrol stations along the way, where I could buy petrol for different prices.
  The following table shows the petrol stations, their distance from Oujda, and the price of 1 liter of petrol there.
</p>

<table class="table table-striped" id="data">
  <thead>
    <tr>
      <th scope="col">Petrol station</th>
      <th scope="col">Distance from Oujda (km)</th>
      <th scope="col">Price of petrol (Dh/l)</th>
    </tr>
  </thead>
  <tbody>
    <tr><th scope="row">Algeria1</th><td>320</td><td>100</td></tr>
    <tr><th scope="row">Algeria2</th><td>840</td><td>90</td></tr>
    <tr><th scope="row">Algeria3</th><td>1350</td><td>70</td></tr>
    <tr><th scope="row">Algeria4</th><td>2000</td><td>80</td></tr>
    <tr><th scope="row">Algeria5</th><td>2580</td><td>100</td></tr>
    <tr><th scope="row">Algeria6</th><td>3170</td><td>90</td></tr>
    <tr><th scope="row">Niger1</th><td>3560</td><td>120</td></tr>
    <tr><th scope="row">Niger2</th><td>4080</td><td>130</td></tr>
    <tr><th scope="row">Nigeria1</th><td>4660</td><td>140</td></tr>
    <tr><th scope="row">Nigeria2</th><td>5180</td><td>120</td></tr>
    <tr><th scope="row">Cameroon</th><td>5500</td><td>150</td></tr>
    <tr><th scope="row">Gabon</th><td>5950</td><td>160</td></tr>
    <tr><th scope="row">Congo1</th><td>6749</td><td>110</td></tr>
    <tr><th scope="row">Congo2</th><td>6990</td><td>130</td></tr>
    <tr><th scope="row">Angola1</th><td>7440</td><td>120</td></tr>
    <tr><th scope="row">Angola2</th><td>7960</td><td>130</td></tr>
    <tr><th scope="row">Angola3</th><td>8410</td><td>120</td></tr>
    <tr><th scope="row">Namibia1</th><td>8730</td><td>140</td></tr>
    <tr><th scope="row">Namibia2</th><td>9250</td><td>150</td></tr>
    <tr><th scope="row">Namibia3</th><td>9770</td><td>130</td></tr>
    <tr><th scope="row">SouthAfrica1</th><td>10350</td><td>140</td></tr>
    <tr><th scope="row">SouthAfrica2</th><td>10670</td><td>120</td></tr>
  </tbody>
</table>

<p>
  The tank of the car could hold at most 70 liters of petrol, and in average, it consumed 7.5 liters of petrol for 100 km.
</p>

<p>
  Although I was eager to minimize my costs, I wanted to be safe, i.e., I did not want to get to a petrol station with an empty tank.
  My safety measure was to always have petrol enough for an additional 50 km.
  Finally, when I started in Oujda, the tank was full. 
</p>

<p>
  The question is straightforward: where and how much did I fill the tank of the car to get to Capetown with minimal costs?
</p>


<h2 id="firstmodel">The first mathematical model</h2>

<h4>Sets and parameters</h4>

<p>
  There is only one relevant set in this problem, the set of petrol stations.
  We can simply define it like this:
  <pre>
    set Stations;
  </pre>
  Now we can introduce the next two parameters that are given for all stations:
  <pre>
    param petrolPrice{Stations};
    param distance{Stations};
  </pre>
</p>

<p>
  And we also have some "global" parameters that are specific to our car ride:
  <pre>
    param initialTank;
    param tankCapacity;
    param totalDistance;
    param fuelConsumption; 
  </pre>
</p>

<h4>Variables</h4>
<p>
  There is only one variable needed: the amount of fuel we fill into our tank at each station:
  <pre>
    var fill{Stations} >= 0;
  </pre>
</p>

<h4>Constraints</h4>
<p>
  The first constraint must express, that we have enough fuel to get to a station plus the safety measure.
  All the fuel we have filled into our tank so far, plus what we initially had must be enough for that distance.
  This could be expressed by the following constraint:
  <pre>    
    s.t. Has_to_meet_safety_measure {s in Stations}:
      (initialTank + sum {s2 in Stations: distance[s2] < [s]} fill[s2]) * (100 / fuelConsumption) >= distance[s]+safetyMeasure;
  </pre>
  where the term <code>initialTank + sum {s2 in Stations: distance[s2] < distance[s]} fill[s2]</code> summarizes how much fuel we had put into our tank so far (including the initial amount), which has to be multiplied by <code>100/fualConsumption</code> to get the distance allowed by that amount.
  The RHS is simply the distance of the station plus the safety measure.
  Note, the filter <code>distance[s2] < distance[s]</code> makes the sum go over only of the previous stations.
</p>

<p>
  A similar constraint must be added to specify, that we should have enough fuel to get to the final destination:
  <pre>
    s.t. Need_to_reach_final_destination:
      (initialTank + sum {s in Stations} fill[s]) * (100 / fuelConsumption) >= totalDistance;
  </pre>
</p>

<p>
  Finally, we can not overfill the tank:
  <pre>
    s.t. Can_not_overfill{s in Stations}:
      initialTank + sum {s2 in Stations: distance[s2] < distance[s]} fill[s2] - distance[s] * (fuelConsumption / 100) + fill[s] <= tankCapacity;
  </pre>
  This constraint is similar to the first one: the LHS summarizes how much fuel is in the tank before leaving the petrol station (initial + filled previously - consumed + filled now), and the RHS is simply the capacity of our tank.
</p>

<h4>Objective function</h4>
<p>
  The objective function is simply the minimization of the total cost:
  <pre>
    minimize TotalCost:
      sum{s in Stations} fill[s]*fuelPrice[s];
  </pre>
</p>

<h4>Some fancy output</h4>
<p>
  To have a nice output this could be added:
  <pre>

    printf "Total cost: %g\n\n",TotalCost;

    for{s in Stations}
    {
      printf "%14s  (%5g km, %3g Dh/l): %5.2g + %5.2g ---> %5.2g l\n",s,distance[s],fuelPrice[s],
      initialTank + sum {s2 in Stations: distance[s2] < distance[s]} fill[s2] - distance[s] * (fuelConsumption / 100),
      fill[s],
      initialTank + sum {s2 in Stations: distance[s2] < distance[s]} fill[s2] - distance[s] * (fuelConsumption / 100) + fill[s]
      ; 
    }
  </pre>
</p>

<h4>The overall model</h4>
<p>
  The overall model looks like this:  
</p>

<pre class="border border-2 border-dark p-2" id="africa1m">{% include sources/africa_car_ride/africa.m %}</pre>

<p>
  With the following data file
</p>

<pre class="border border-2 border-dark p-2" id="africad">{% include sources/africa_car_ride/africa.d %}</pre>


<h4>The solution</h4>
<p>
  After solving this simple model, we get the following output:
</p>
<pre class="border border-2 border-dark p-2" id="africatxt">{% include sources/africa_car_ride/africa.txt %}</pre>

<h2 id="othermodel">A different way of modelling the problem</h2>

<p>
  If an IT person would look at the above code, he/she would probably consider it a bit ugly, as the term <code>initialTank + sum {s2 in Stations: distance[s2] < distance[s]} fill[s2]</code> repeats a couple of times through the model.
  In case of such redundancy in a computer code, the programmer would probably introduce a function, that can be called from different places.
</p>

<p>
  In modelling we can do something similar: we can introduce additional variables, that represent <emph>calculated</emph> values based on other decision variables and parameters, that are used in many places.
  <pre>
    var fuelAtArrival{Stations};
  </pre>
  These variables will denote, how much fuel we have when we arrive to a station.
  However, these variables do not present a decision, they are calculated based on other "real" decision variables and parameters in equality constraints, like the one below: 
  <pre>
    s.t. set_fuelAtArrival{s in Stations}:
      fuelAtArrivaml[s] = initialTank + sum {s2 in Stations: distance[s2] < distance[s]} fill[s2] - distance[s]/100*fuelConsumption;
  </pre>
  We will refer to these kind of variables as <emph>redundant variables</emph> from now on.
</p>

<p>
  Now some of the constraints, outputs can be simplified:
  <pre>
    s.t. Has_to_meet_safety_measure {s in Stations}:
      fuelAtArrival[s] * (100 / fuelConsumption) >= safetyMeasure;

    s.t. Can_not_overfill{s in Stations}:
      fuelAtArrival[s] + fill[s] <= tankCapacity;
  </pre>
  and:
  <pre>
    for{s in Stations}
    {
      printf "%14s  (%5g km, %3g Dh/l): %5.2g + %5.2g ---> %5.2g l\n",s,distance[s],fuelPrice[s],
      fuelAtArrival[s], fill[s], fuelAtArrival[s] + fill[s]
      ; 
    }
  </pre>
</p>

<p>
  If we look at the first constraint from above, it can even be eliminated and moved to a lower bound for the variable:
  <pre>
    var fuelAtArrival{Stations} >= safetyMeasure / 100 * fuelConsumption;
  </pre>
</p>

<h4>Final look</h4>

<p>
  So, the final version looks like this:
</p>

<pre class="border border-2 border-dark p-2" id="africa2m">{% include sources/africa_car_ride/africa2.m %}</pre>

<p>
  The same data section can be used, and the output is exactly the same as above.
</p>

<h2 id="tradeoff">Readability / maintainability over performance?</h2>

<p>
  One could rightfully raise their voice, and complain, that we made a bad deal, as our model now has twice as many variables and thus, solving it will be slower.
  That is theoretically true, however:
  <ul>
    <li>Adding a few continuous variables does not really make the problem that much harder to solve.</li>
    <li>A good solver will probably realize this, and exclude them.</li>
    <li>Some languages may support this explicitly, like defined variables in AMPL</li>
    <li>Sometimes, especially for easy-to-solve problems with complicated constraints, a maintainable code is much more important.</li>
    <li>If the model gets extended, these variables may come in handy.</li>
  </ul>
</p>

<h2 id="exercise">Exercise for you</h2>
<p>
  The model could be transformed a bit further as well based on the following idea: the fuel level in the tank at a station is simply the level when leaving the <emph>last</emph> station minus the fuel burned since then.
  Create a model, that calculates the <code>fuelAtArrival[s]</code> values based on this idea.
</p>

<p>
  A bit of help: in the model, it will be important to refer to the previous station, that is difficult with the above set and parameter definitions.
  Changing the form of the input data to the following can solve this issue:
  <pre>
    param stationCount;
    set Stations:=1..stationCount;
    param stationName{Stations} symbolic;
  </pre>
  and in the data section:
  <pre>
    param stationCount := 22;
    param:
          stationName   distance  fuelPrice :=
      1   Algeria1      320       100
      2   Algeria2      840       90
      3   Algeria3      1350      70
      4   Algeria4      2000      80
      ...
  </pre>
</p>

<hr />

<div class="alert alert-dark">
  
<h1 class="alert-heading" id="final-notes">Final notes</h1>
The purpose of this lecture was to introduce a new modeling technique that can often make our models much simpler.

</div>
